<!DOCTYPE html>
<html>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <head>
    <title>InnerWisdom</title>
    <%= csrf_meta_tags %>
    <%# <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"> %>
    <%= csp_meta_tag %>

 
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>
  
  </head>

  <body>

  
  <% if notice %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "notice", message:notice }] ) %>
  <%end%>
  <%if alert %>
    <%# <%= react_component('Notification', type: "alert", message: alert) %> %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "alert", message:alert }] ) %>
  <%end%>
  
    <%= yield %>
  </body>
</html>
