<!DOCTYPE html>
<html lang="en">

  <head>
    <%# google verification %>
    <meta name="google-site-verification" content="SR_zO1dr0oRRBpcygFpcZaVql5HgIEdGCJ61sdxxh4Y" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" 
    content="I am a Registered Counselling Psychologist with 30+ years’ experience helping adults and couples resolve difficulties in order to live fulfilling, purposeful and content lives. I specialize in mental health well-being, including managing personal and workplace stress, anxiety and depression; recovery from psychological and emotional trauma (past and present), bereavement, grief and loss; life transitions and adjustments; couples and relationship counselling.">
    <%# facebook meta tags %>
    <meta property="og:site_name" content="Inner Wisdom Psychology">
    <meta property="og:title" content="Inner Wisdom Psychology">
    <meta property="og:description" content="I am a Registered Counselling Psychologist with 30+ years’ experience helping adults and couples resolve difficulties in order to live fulfilling, purposeful and content lives. I specialize in mental health well-being, including managing personal and workplace stress, anxiety and depression; recovery from psychological and emotional trauma (past and present), bereavement, grief and loss; life transitions and adjustments; couples and relationship counselling.">
    <meta property="og:image" content="https://storage.googleapis.com/inner_wisdom_bucket/forest-path-trees-6037(1).jpg">
    <meta property="og:url" content="https://www.wisdompsych.com.au">
    <%# twitter %>
    <meta name="twitter:title" content="Inner Wisdom Psychology">
    <meta name="twitter:description" content="I am a Registered Counselling Psychologist with 30+ years’ experience helping adults and couples resolve difficulties in order to live fulfilling, purposeful and content lives. I specialize in mental health well-being, including managing personal and workplace stress, anxiety and depression; recovery from psychological and emotional trauma (past and present), bereavement, grief and loss; life transitions and adjustments; couples and relationship counselling.">
    <meta name="twitter:image" content="https://storage.googleapis.com/inner_wisdom_bucket/forest-path-trees-6037(1).jpg">
    <meta name="twitter:card" content="summary_large_image">


    <title>Inner Wisdom Psychology</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>

  </head>

  <body>
  <%= react_component('Nav', current_user: current_user, static: true) %>
  
  <% if notice %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "notice", message:notice }] ) %>
  <%end%>
  <%if alert %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "alert", message:alert }] ) %>
  <%end%>
  
    <div style="min-height:90vh;">
    <%= yield %>
    </div>


    <%= react_component('Footer', current_user: current_user ) %>
  </body>
</html>
