<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="Description" 
   content="Inner Wisdom | I am a Registered Counselling Psychologist with 30+ years’ experience helping adults and couples resolve difficulties in order to live fulfilling, purposeful and content lives. I specialize in mental health well-being, including managing personal and workplace stress, anxiety and depression; recovery from psychological and emotional trauma (past and present), bereavement, grief and loss; life transitions and adjustments; couples and relationship counselling.">
  <head>
    <title>InnerWisdom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application'%>
  
  </head>

  <body>
  <%= react_component('Nav', current_user: current_user, static: true) %>
  
  <% if notice %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "notice", message:notice }] ) %>
  <%end%>
  <%if alert %>
    <%= react_component('FlashNotification', notifications: [{id: Time.new, type: "alert", message:alert }] ) %>
  <%end%>
  
    <%= yield %>
    <%= react_component('Footer', current_user: current_user ) %>
  </body>
</html>
