<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application'%>
 <%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
<%= react_component('Nav', user: current_user, static: true) %>


<div class="ui divider hidden"></div>
<div class="ui container text">
<%= yield %>
</div>
